@import "horizontal_navigation_bar/cross_dependant_styles";

.horizontal_navigation_bar {
  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  ul.pages a {
    display: inline-block;
    background-color: #000;
    margin: 2px;

    &.active {
      border: solid 1px #fff;
    }

    &.filtered {
      display: none;
    }
  }
}