@import "horizontal_navigation_bar/cross_dependant_styles";

.horizontal_navigation_bar {
  a:active {
    outline: none;
  }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  ul.pages a {
    display: inline-block;

    &.active {
    }

    &.filtered {
      display: none;
    }
  }
}